.profile-cover {
    background: no-repeat center center fixed;
    background-color: #FF5000;
}

.song-ava{
    width: 150px; 
    height: 150px;
}

.orangebtn{
    background-color: #FF5000;
    color: #FFFFFF;
}