{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
{% block title %}musicsn - The leading music social network{% endblock %}
{% block css %}<link href="{% static 'css/profile.css' %}" rel="stylesheet"/>{% endblock %}
{% block user %}{{ currusr.name }}{% endblock %}
{% block profile %}<button class="dropdown-item" type="button" data-toggle="modal" data-target="#profileModal">Your profile</button>{% endblock %}
{% block content %}
<div class="row mt-3 profile-cover py-5 px-3">
	<div class="col-3">
		<img class="rounded-circle" src="{{ watchingusr.ava }}" alt="..." style="width: 200px;height: 200px;">
	</div>
	<div class="col-8 my-4">
		<h1 style="color: #000022"><strong>{{ watchingusr.name }}</strong></h1>
		<p style="color: #000022">{{ watchingusr.about }}</p>
	</div>
</div>

<div class="row">
	<div class="col-9">
		<ul class="nav nav-tabs my-3 row">
			<li class="nav-item">
				<a class="nav-link active" data-toggle="tab" href="#collection">All</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" data-toggle="tab" href="#playlist">Playlists</a>
			</li>
		</ul>
	</div>
	<div class="col-3">
		<input type="hidden" id="follower" value="{{ currusr.usrname }}">
		<input type="hidden" id="followed" value="{{ watchingusr.usrname }}">
		{% if followcheck == -1 %}
			<input type="hidden" id="upload-usrname" value="{{ currusr.usrname }}">
			<label class="btn btn-sm btn-block orangeoutlinebtn mt-3">
				Upload a new song
				<input id="song-upload" type="file" style="display:none;">
			</label>
			<!-- <input type="button" value="Your profile" class="btn btn-sm btn-block orangeoutlinebtn mt-3" disabled> -->
		{% elif followcheck == 1 %}
			<button class="btn btn-sm btn-block orangeoutlinebtn mt-3" id="unfollow-btn">Following</button>
		{% else %}
			<button class="btn btn-sm btn-block orangeoutlinebtn mt-3" style="color: #000022; border-color: #000022;" id="follow-btn">Follow</button>
		{% endif %}
	</div>
</div>

<div class="row mt-2">
	<div class="col-9">
		<div class="tab-content">
			<div id="collection" class="tab-pane in active">
			{% for songinfo in collectiondata %}
				<div class="card my-3">
					<div class="card-body">
						<div class="row">
							<div class="col-4">
								<img class="incard-ava" src="{{ songinfo.ava }}" alt="ava">
							</div>
							<div class="col-8">
								<a class="row" href="http://127.0.0.1:8000/profile/{{ songinfo.owned }}" style="color: #505050; font-size: 11px">{{ songinfo.ownedname }}</a>
								<h4 class="row">
									{{ songinfo.name }}
								</h4>
								<div class="row">
									<audio controls style="width: 93%;" id="spt-{{ songinfo.id }}"><source src="{{ songinfo.src }}" type="audio/mpeg"></audio>
								</div>
								<div class="row">
									<div class="col-8">
										<button type="submit" class="btn btn-sm orangebtn mt-2 mr-1" id="sl-{{ songinfo.id }}-btn">
											<i class="fas fa-heart"></i>
											Like <span class="badge badge-light">{{ songinfo.likes }}</span>
										</button>
										{% if followcheck == -1 %}
										<button type="button" class="btn btn-sm btn-danger mt-2" id="dels-{{ songinfo.id }}-btn">
											Delete
										</button>
										{% endif %}
									</div>
									<div class="col-4">
										<span class="badge badge-light my-3 mr-3 float-right" style="color: #505050;">
											<i class="fas fa-play"></i>
											{{ songinfo.plays }}
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
			</div>
			<div id="playlist" class="tab-pane fade">
			{% for plinfo in playlist %}
				<div class="card my-3">
					<div class="card-body">
						<div class="row">
							<div class="col-3">
								<img class="incard-ava" src="{{ plinfo.ava }}" alt="ava">
								{% if followcheck == -1 %}
								<button type="button" class="btn btn-sm btn-danger my-1" style="width: 150px;" id="delpl-{{ plinfo.id }}-btn">
									Delete this playlist
								</button>
								{% endif %}
							</div>
							<div class="col-9">
								<h4 class="row">
									{{ plinfo.name }}
									<a class="mx-3 my-auto" href="http://127.0.0.1:8000/profile/{{ plinfo.owned }}" style="color: #505050; font-size: 13px">{{ plinfo.ownedname }}</a>
								</h4>
								{% for info in plinfo.songs %}
								<div class="row">
									<div class="col-3 my-auto">
										<h6>{{ info.name }}</h6>
									</div>
									<div class="col-7">
										<audio controls style="width: 100%;"><source src="{{ info.src }}" type="audio/mpeg"></audio>
									</div>
									<div class="col-2">
										<span class="badge badge-light my-3" style="color: #505050;">
											<i class="fas fa-play"></i>
											{{ info.plays }}
										</span>
									</div>
								</div>
								{% endfor %}
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
			</div>
		</div>
	</div>
	<div class="col-3">
		<div class="row mt-2">
			<div class="col-4 verticalline" align="center">
				<h6 class="quantity">Following</h6>
				<span class="quantitynum">{{ following }}</span>
			</div>
			<div class="col-4 verticalline" align="center">
				<h6 class="quantity">Followers</h6>
				<span class="quantitynum">{{ followers }}</span>
			</div>
			<div class="col-4 verticalline" align="center">
				<h6 class="quantity">Tracks</h6>
				<span class="quantitynum">{{ tracks }}</span>
			</div>
		</div>
		<p class="my-2" style="color:#FF5000; font-size: 13px;">Artists</p>
		{% for atfinf in atf %}
			<div class="card my-1">
				<div class="card-body py-2">
					<div class="row">
						<div class="col-4">
							<img class="rounded-circle" src="{{ atfinf.ava }}" style="width: 40px; height: 40px;" alt="ava">
						</div>
						<div class="col-8 my-auto">
							<a class="row" href="http://127.0.0.1:8000/profile/{{ atfinf.usrname }}" style="color: #FF5000; font-size: 15px">{{ atfinf.name }}</a>
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
</div>

<!-- Profile Modal -->
<div class="modal fade" id="profileModal" tabindex="-1" role="dialog" aria-labelledby="profileModalLabel" aria-hidden="true" style="margin-top: 7%;">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body my-3">
				<div class="row">
					<div class="col-4">
						<img class="mt-1" src="{{ currusr.ava }}" alt="ava" style="width: 130px;height: 130px;">
						<button class="btn btn-sm btn-block orangeoutlinebtn my-1" type="button" id="editprofile-btn">Edit profile</button>
						<input type="hidden" id="profile-usrname" value="{{ currusr.usrname }}">
					</div>
					<div class="col-8">
						<form method="POST">
							<div class="form-group input-group my-1">
								<div class="input-group-prepend">
									<span class="input-group-text">
										<i class="fas fa-user-tag"></i>
									</span>
								</div>
								<input type="text" class="form-control" value="{{ currusr.name }}" aria-label="name" aria-describedby="name-input" id="profile-name" disabled>
							</div>
							<div class="form-group input-group my-1">
								<div class="input-group-prepend">
									<span class="input-group-text">
										<i class="fas fa-birthday-cake"></i>
									</span>
								</div>
								<input type="text" class="form-control" value="{{ currusr.dob }}" aria-label="Dateofbirth" aria-describedby="dob-input" id="profile-dob" disabled>
							</div>
							<div class="form-group input-group my-1">
								<div class="input-group-prepend">
									<span class="input-group-text">
										<i class="fas fa-key"></i>
									</span>
								</div>
								<input type="password" class="form-control" value="{{ currusr.passwd }}" aria-label="Password" aria-describedby="password-input" id="profile-passwd" disabled>
							</div>
							<div class="form-group input-group my-1">
								<textarea rows="3" class="form-control" aria-label="About" aria-describedby="about-input" id="profile-about" disabled>{{ currusr.about }}</textarea>
							</div>
						</form>
					</div>
				</div>
				<span id="profile-alert" style="color:red;font-size:12px;"></span>
				<button type="button" class="btn btn-block orangebtn" id="profile-btn">Save changes</button>
			</div>
		</div>
	</div>
</div>

{% endblock %}

<!-- Custom JavaScript for this page -->
{% block customjs %}
<script src="{% static 'js/profile.js' %}"></script>
<script>
$(window).on('load', function(){
	var collectiondata = {{ collectiondata|safe }};
	// console.log(collectiondata);
	var psarr = [];
	for(var i=0; i<collectiondata.length; i++){
		psarr.push('#sl-' + collectiondata[i].id + '-btn');
	}

	$.ajax({
		type: "GET",
		url: 'http://127.0.0.1:8000/api/songs/',
		dataType: 'json',
		success: function (sptdata) {
			if (sptdata) {
				var sptarr = [];
				var delsarr = [];
				for(var i=0; i<sptdata.length; i++){
					sptarr.push('#spt-' + sptdata[i].id);
				}
				for(var i=0; i<sptdata.length; i++){
					delsarr.push('#dels-' + sptdata[i].id + '-btn');
				}
				// console.log(sptarr);
				$.each(sptarr, function (index, value) {
					$(value).on('play',function() {
						var sptid = $(value).attr('id').split('-');
						$.ajax({
							type: "GET",
							url: 'http://127.0.0.1:8000/api/songs/' + sptid[1],
							dataType: 'json',
							success: function (spt){
								if(spt){
									var plays = spt.plays;
									plays += 1;
									$.ajax({
										type: "PATCH",
										url: 'http://127.0.0.1:8000/api/songs/' + sptid[1] + '/',
										data: {
											'plays': plays,
										},
										dataType: 'json',
										success: function (sptdata){
											if(sptdata){
												console.log('play sunmitted!!!');
											}else {
												alert("Sorry can\'t play this song!");
												location.reload(true);
											}
										},
										error: function () {
											alert('Something wrong!');
											location.reload(true);
										}
									});
								}else {
									alert("Sorry can\'t get song detail!");
									location.reload(true);
								}
							},
							error: function () {
								alert('Something wrong!');
								location.reload(true);
							}
						});
					});
				});
				console.log(delsarr);
				$.each(delsarr, function (index, value) {
					$(value).on('click',function() {
						var delsid = $(value).attr('id').split('-');
						var r = confirm('Are you sure?');
						if(r == true){
							$.ajax({
								type: "DELETE",
								url: 'http://127.0.0.1:8000/api/songs/' + delsid[1],
								dataType: 'json',
								success: function (spt){
									if(spt == null){
										alert("song deleted!!!");
										location.reload(true);
									}else {
										alert("Sorry can\'t get song detail!");
										location.reload(true);
									}
								},
								error: function () {
									alert('Something wrong!');
									location.reload(true);
								}
							});
						} else {
							console.log(nothing);
						}
					});
				});
			} else {
				alert('Sorry can\'t get playlist data!');
				location.reload(true);
			}
		},
		error: function () {
						alert('Something wrong!');
		}
	});

	$.ajax({
    type: "GET",
    url: 'http://127.0.0.1:8000/api/playlists/',
    dataType: 'json',
    success: function (pldata) {
			if (pldata) {
				var plarr = [];
				for(var i=0; i<pldata.length; i++){
						plarr.push('#delpl-' + pldata[i].id + '-btn');
				}
				// console.log(plarr);
				$.each(plarr, function (index, value) {
					$(value).click(function () {
						var r = confirm("Are you sure?");
						var delplid = $(value).attr('id').split('-');
						if (r == true) {
							$.ajax({
								type: "DELETE",
								url: 'http://127.0.0.1:8000/api/playlists/' + delplid[1],
								dataType: 'json',
								success: function (delpl){
									if(delpl == null){
										console.log('delete sunmitted!!!');
										location.reload(true);
									}else {
										alert("Sorry can\'t delete this playlist!");
										location.reload(true);
									}
								},
								error: function () {
									alert('Something wrong!');
									location.reload(true);
								}
							});
						} else {
							console.log('cancel ');
						}
					})
				});
			} else {
				alert('Sorry can\'t get playlist data!');
				location.reload(true);
			}
    },
    error: function () {
			alert('Something wrong!');
    }
	});

	$.each(psarr, function (index, value) {
		$(value).click(function () {
			var l = $(value).attr('id').split('-');
			$.ajax({
				type: "GET",
				url: 'http://127.0.0.1:8000/api/songs/' + l[1],
				dataType: 'json',
				success: function (dt){
					if(dt){
						var likes = dt.likes;
						likes += 1;
						$.ajax({
							type: "PATCH",
							url: 'http://127.0.0.1:8000/api/songs/' + l[1] + '/',
							data: {
								'likes': likes,
							},
							dataType: 'json',
							success: function (dta){
								if(dta){
									console.log('like sunmitted!!!');
									location.reload(true);
								}else {
									alert("Sorry can\'t like this song!");
									location.reload(true);
								}
							},
							error: function () {
								alert('Something wrong!');
								location.reload(true);
							}
						});
					}else {
						alert("Sorry can\'t get song detail!");
						location.reload(true);
					}
				},
				error: function () {
					alert('Something wrong!');
					location.reload(true);
				}
			});
		});
	});

});
</script>
{% endblock %}